<!DOCTYPE html>
<html lang="pt-br">
<script></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3</title>
</head>

<body>
    <form action="/result" method="get">
        <input id="valor1" name="valor1" type="number" placeholder="Digite o primeiro número">
        <input id="valor2" name="valor2" type="number" placeholder="Digite o segundo número">
        <br>
        <input id="valor3" name="valor3" type="number" placeholder="Digite o terceiro número">
        <input type="submit" value="Enviar">
    </form>
</body>

</html>