<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
    <script>
        function soma() {
            result = parseFloat(n1.value) + parseFloat(n2.value);
            document.getElementById("resultadosoma").innerHTML = result;
        }
        function subtracao() {
            result = parseFloat(n1.value) - parseFloat(n2.value);
            document.getElementById("resultadosubtracao").innerHTML = result;
        }
        function multiplicacao() {
            result = parseFloat(n1.value) * parseFloat(n2.value);
            document.getElementById("resultadomultiplicacao").innerHTML = result;
        }
        function divisao() {
            result = parseFloat(n1.value) / parseFloat(n2.value);
            document.getElementById("resultadodivisao").innerHTML = result;
        }
    </script>
</head>

<body>
    <form action="/soma" method="get">
        <h1>Digite 2 números para ser feito a soma</h1>
        <label> Número 1: </label>
        <input id="n1" name="n1" />
        <label> Número 2: </label>
        <input id="n2" name="n2" />
        <button type="submit" >Somar</button>
        <h1 id="resultadosoma"></h1>
    </form>
    <br><br><br>

    <form action="/subtrair" method="get">
        <h1>Digite 2 números para ser feito a subtração</h1>
        <label> Número 1: </label>
        <input id="n1" name="n1" />
        <label> Número 2: </label>
        <input id="n2" name="n2" />
        <button type="submit" >Subtrair</button>
        <h1 id="resultadosubtrair"></h1>
    </form>
    <br><br><br>

    <form action="/multiplicacao" method="get">
        <h1>Digite 2 números para ser feito a multiplicação</h1>
        <label> Número 1: </label>
        <input id="n1" name="n1" />
        <label> Número 2: </label>
        <input id="n2" name="n2" />
        <button type="submit" >Multiplicar</button>
        <h1 id="resultadomultiplicacao"></h1>
    </form>
    <br><br><br>

    <form action="/divisao" method="get">
        <h1>Digite 2 números para ser feito a divisão</h1>
        <label> Número 1: </label>
        <input id="n1" name="n1" />
        <label> Número 2: </label>
        <input id="n2" name="n2" />
        <button type="submit" >Dividir</button>
        <h1 id="resultadodivisao"></h1>
    </form>

</body>

</html>